.Pagination {
    width: 50%;
    
    display: none;
    justify-content: center;
}

.PageNumber {
    width: 30px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.2rem;
    text-align: center;
    margin: 0 5px;
    font-size: 35px;
    cursor: pointer;
}

.Active {
    background-color: green;
}