.tooltipContainer {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.tooltips {
    background-color: white;
    border: 1px solid gray;
    width: 100%;
    max-width: 1800px;
    min-width: 800px;
    padding: 5px 10px;
    color: black;
    display: grid;
    overflow-x: scroll;
    grid-auto-flow: column;
}

.tooltips p {
    padding: 5px 20px;
}

.closeComponent {
    width: fit-content;
    background-color: red;
    font-size: large;
    text-align: end;
    cursor: pointer;
    margin: 10px 0px;
}