@use 'sass:map';


$form-width: (
    "sm": 80%,
    "md": 70%
);


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    background-color: rgba(45,45,45,0.8);
    border-radius: 0.5rem;;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    height: 200px;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formLabel {
  font-size: 20px; 
  text-align: center;
  margin: 10px auto;
  color: white;
}

.formControl {
    width: 90%;
    margin: auto;
    max-width: 500px;
    height: 50px;
}

.SearchButton {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: larger;
}
