.navbar {   
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    height: 70px;


    .navbar-links {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        width: 100%;
    }
}


@media only screen and (min-width: 992px) {
    .nav-link {
        font-size: 1.3em;
    }
}


