.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.navbar-links {
    margin-right: 15px;
    width: 100%;
    border: 1px solid black;
}

.nav {
    color: red;
}