.navbar {   
    background-color: transparent;
    display: flex;
    justify-content: flex-end;


    .navbar-links {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        width: 100%;
    }
}


