.logo {
    object-fit: contain;
    width: 100%;
    padding-top: 100%;
    position: relative  !important;
    border: 1px solid black;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.08);
    margin: 5px;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}


.logo:hover {
    background-color: rgba(0,0,0,0.15);
}



@media only screen and (min-width: 300px) {
    .logo {
        height: 100px;
    }
}

