.Navbar {
    width: 100vw;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavbarTitle {
    font-size: 40px;
    margin-left: 100px;
}

.NavbarLinks {
    margin-right: 100px;
  
}

.NavbarLinks a {
    font-size: 30px;
    margin: 30px;
    text-decoration: none;
    color: black;
}
