.Navbar {
    width: 100vw;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    border-bottom: 2px solid black;
    position: sticky;
=======

>>>>>>> 344c4ca096ccfe543f2e57b467ec15658049005b
    top: 0;
    overflow: visible;
    z-index: 1;

}

.NavbarTitle {
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    color: black;   
}

.NavbarLinks {
    margin-right: 50px;
    font-family: 'Russo One', sans-serif;
}

.NavbarLink {
    display: inline-block;
    width: fit-content;
    margin: 30px;
    font-size: 30px;
    cursor: pointer;
}


.HoverLink::after {
    display: block;
    border-bottom: 3px solid black;
    height: 2px;
    content: '';
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: 100% 50%; 
}

.HoverLink:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.HamburgerMenu {
    width: 60px;
    height: 50%;
    cursor: pointer;
    
    /*display: inline-block; */
    position: relative;
    margin-right: 100px;
}

.HamburgerMenu:hover .bar  {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}


.bar {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 6px;
    border-radius: 0.5rem;
    transition: all 0.1s ease;
}

.bar1 {
    top: 0%;
}

.bar2 {
    top:  50%;
    transform: translateY(-50%);
}

.bar3 {
    bottom: 0%;
}

.Sidebar {
    position: absolute;
    width: 100%;
    background-color: red;
    z-index: 0;
    
    
}

@media only screen and (min-width: 300px) {

    .NavbarTitle {
        margin-left: 30px;
    }

    .HoverLink {
        font-size: 18px;
    }

    .Parallax p {
        left: 50%;
        
    }

    .Content {
        font-size: 10px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 800px) {
    .NavbarLinks {
        display: block;
        font-size: 10px;
    }

    .Parallax p {
        right: 20%;
    }

    .Content {
        font-size: 18px;
        
    }

    .Socials h1 { 
        margin: 35px 30px;
    }


} 