.PlayersContainer {
    width: 80%;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 0.7rem;
    padding: 0 10px;
}

.PlayersContainer h1 {
    text-align: center;
}