.Players {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD:src/css/components/Pages/Players.css
.PlayersGrid {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 30px;
=======
.SearchDiv {
    
>>>>>>> 344c4ca096ccfe543f2e57b467ec15658049005b:src/css/Pages/Players.css
}

.PlayersBox {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PlayerHeader {
    font-family: 'Russo One', sans-serif;
}

.SearchButton {
    width: 120px;
    height: 50px;
    font-size: 23px;  
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: white;
    margin-left: 30px;
    transition: background-color 0.15s ease, color 0.3s ease;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: black;
    color: white;
    
}