.TeamBox {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD:src/css/components/Pages/Teams.css


.TeamGrid {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    column-gap: 50px;
}
=======
>>>>>>> 344c4ca096ccfe543f2e57b467ec15658049005b:src/css/Pages/Teams.css
