.TeamBox {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}


.TeamGrid {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    column-gap: 50px;
}
