.Container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.introductionContainer h1 {
    text-align: center;
}

.introductionSection {
    
    width: 90%;
    display: flex;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introductionSection div {
    width: 80%;
    
    min-height: 150px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 0.45rem;
    font-size: 22px;
    margin: 10px 20px;
    text-indent: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.formGroup {

    width: 100%;
    display: flex;
    flex-direction: column;
}

.formLabel {
  font-size: 20px; 
  text-align: center;
 
  margin: 10px auto;
}

.formControl {
    width: 90%;
    margin: auto;
    max-width: 500px;
    height: 50px;

}

.SearchButton {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: larger;
}



@media only screen and (min-width: 250px) {
    .introductionSection {
        flex-direction: column;
        
    }

    .introductionSection  div {
        min-height: 120px
    }


    .introductionSection div p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 700px) {
    .introductionSection {
        flex-direction: row;
    }
}