
.searchResult {
    height: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
    margin: 5px;
}

.searchResultsGrid {
    height: 500px;
    margin-top: 40px;
    overflow-y: scroll;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
}


.searchResultsGrid::-webkit-scrollbar-thumb {
    width: 10px;;
}

.searchResult:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.2), -2px -5px 5px rgba(0,0,0,0.04);
}

.Card {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.6rem;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.08);
}

.imageWrapper {

    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px auto;
    width: 50%;
    border: 1px solid black;
}


.logoWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.playerName {
    font-size: 2.2em;;
}


.Table {
    width: 80%;
    margin: auto;
}

.statsHeader {
    text-align: center;
    margin: 1em;
}

@media only screen and (min-width: 250px) {
    .Card {
        flex-direction: column;
        max-width: 500px;
    }

    .imageWrapper, .logoWrapper {
        width: 100%;
    }
    

}