@import '../../base/text';

.playerCard {
    background-color: rgba(50, 50,50, 1);
    border: 1px solid rgba(0,0,0,0.09);
    margin: auto;
    margin-bottom: 75px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.6rem;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    padding: 20px 0px;
    height: 450px;

    .imageWrapper {
        height: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 20px auto;
        width: 50%;
    
        .logoWrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}


/* Player Metadata styles */
.playerMetaData { 
    .card-title {
        font-weight: 800;
        font-family: $primaryText;
        font-size: 2.2em;
        color: white;
    }
    .card-text {
        font-family: $secondaryText;
        font-weight: 300;
        color: white;
        strong {
            font-size: 1.3em;
            font-weight: 600;
        }
    }
}


.Table {
    width: 80%;
    margin: auto;
}

.statsHeader {
    text-align: center;
    margin: 1em;
}

@media only screen and (min-width: 250px) {
    .playerCard {
        flex-direction: column;
        width: 80%;
        max-width: 850px;
        height: 450px;
    }

    .card-text {
        margin: 3px;
        font-size: 0.8em;
    }

    .imageWrapper, .logoWrapper {
        width: 100%;
    }
    

}
/* Bootstrap lg media query width */
@media only screen and (min-width: 992px) {
    .playerCard {
        flex-direction: row;
        width: 80%;
        max-width: 850px;
    }

    .card-text {
        font-size: 1.1em;
        text-indent: 10px;
    }
}