.searchResult {
    height: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
    margin: 5px;
}

.searchResultsGrid {
    height: 500px;
    margin-top: 40px;
    overflow-y: scroll;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
}


.searchResultsGrid::-webkit-scrollbar-thumb {
    width: 10px;;
}

.searchResult:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.2), -2px -5px 5px rgba(0,0,0,0.04);
}

