.grid {display: grid;}

/* Height Mixins */

@mixin heightFull {
    height: 100%;
    min-height: 100vh;
}
@mixin height($height) { height: $height;}

/* Display Mixins */

// Grid mixin
@mixin gridCols($cols) { grid-template-columns: repeat($cols, minmax(0, 1fr)) ;}


// Flex mixin
@mixin flexDirection($direction) {flex-direction: $direction ;}

// Fully centered flex component with specified direction.
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


// Margin Styles

.container {
    width: 100vw;
    @include heightFull;
}


.playerContainer { @extend .container; }

.landingContainer {
    @extend .container;
    @extend .grid;
    @include gridCols(2);
}

.landingText {@extend .textCenter !optional;}

.landingGridItem {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingLeftGrid {
    @extend .landingGridItem;
    background-color: #225dc3;
    min-height: 300px;
    z-index: 0;
}

.landingButtonsContainer {
    margin-top: 20px;
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landingButtonsContainer button { margin: 0px 5px; }

.header {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
}   

/* Display styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {flex-direction: column;}

.flexCenterColContainer {
    position: relative;
    @extend .container;
    @extend .flex-center;
    @extend .flex-col;
}

/* Team Logo container */ 

.teamLogoContainer {
    // @include gridColsThree;
    @include gridCols(3);
    @include heightFull;
    @extend .grid;
    column-gap: 20px;
    justify-items: center;
    margin: 100px auto;
    padding: 5px 20px;
}


/* PlayerSearchGridContainer */

.playerSearchGridContainer {
    @include gridCols(2);
    width: 80%;
    border: 2px solid black;
    margin: auto;
}

/* Player dynamic Page styles */
.playerContainer {@extend .flexCenterColContainer;}



@media only screen and (min-width: 300px) {
    .landingContainer {@include gridCols(1);}
    .landingButtonsContainer { 
        width: 70%;
        max-width: 400px;
    }
    .teamLogoContainer {
        @include gridCols(2);
        width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    .teamLogoContainer {@include gridCols(3);}
}

@media only screen and (min-width: 992px) {
    .landingContainer {@include gridCols(2);}

    .landingButtonsContainer {
        width: 60%;
        min-width: 400px;
        max-width: 500px;
    }

    .teamLogoContainer {
        width: 80%;
        max-width: 1000px;
        @include gridCols(5);
    }
}