.margin-y-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}



/* Text Styles, may move to another file later if it gets big enough */

.text-lg {
    font-size: 2em;
}

.text-align {
    text-align: center;
}



@media only screen and (min-width: 300px) {
    
}