
/* Text Variables */
$primaryText: 'Alegreya Sans', sans-serif;
$secondaryText: 'Source Serif Pro', serif;

@mixin primaryText {font-family: $primaryText;}
@mixin secondaryText {font-family: $secondaryText;}


h1, h2, h3, h4, h5, p {
    font-family: $primaryText;
    font-weight: 600;
}


.margin-y-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Text Styles, may move to another file later if it gets big enough */

.text-md {
    font-size: 1.5em;
}

.text-lg {
    font-size: 2em;
}

.textCenter {text-align: center;}

/* individual html elements that contain text */

.landingText {
    @extend .textCenter;
    padding: 5px 10px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.introductionText {
    @extend .textCenter;
    @extend .margin-y-4;
    font-family: $primaryText;
    font-size: 1.5em;
    width: 80%;
    margin: 5px auto;
}


.playersPageText {
    width: 30%;
    @extend .text-md;
    margin: 50px 0px;
}


@media only screen and (min-width: 992px) { 
    .introductionText {
        font-size: 1.8em;
    }
}
